@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/vt323/vt323-regular-webfont.woff") format("woff");
}
:root {
    background-color: #171717;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
